h1 {
  color: rebeccapurple;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: burlywood;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: rebeccapurple;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  border-radius: 20px 20px 0 0 ;
}

.chatbar-message,
.chatbar-username {
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}
.emoji-button {
  padding: 0;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}
.colour-button {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  border-radius: 50%;
  border-style: double;
  margin-right: 5px;
  font-size: 1.6em;
  background-color: lightblue;
  border-color: lightblue;
  flex-shrink: 0;
  flex-grow: 0;
}
.colour-palet {
  padding-left: 5px;
  background-color: rebeccapurple;
  height: 50px;
  position: absolute;
  bottom: 63px;
  left: 0px;
}
.image-input {
  text-align: center;
  position: fixed;
  width: 30%;
  padding: 10px;
  top: 40%;
  left: 35%;
  background-color: rebeccapurple;
  border-style: outset;
  border-width: 5px;
  border-color: purple;
  opacity: 0.8;
}
.image-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-input h1 {
  margin-top: 5px;
  color: darkorange;
}
.image-input input {
  font-size: 1.3em;
  width: 66%;
  padding: 5px;
}
.invalid-url-error {
  background-color: red;
  color: gold;
  margin: 5px 0 0 0;
  padding: 10px;
  border-radius: 50px;
  width: 50%;

}
.emoji-bar {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
  background-color: rebeccapurple;
  position: absolute;
  bottom: 65px;
  left: 20vw;
  z-index: 2;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 20px;
}
.emoji-bar a {
  padding: 5px;
}
.btn-new-image {
  margin-top: 10px;
  width: 50px;
  display: block;
  border-style: double;
  background-color: darkorange;
  border-color: coral;
}


.message {
  display: flex;
  padding: 5px;
  border-bottom: 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  border-color: black;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  background-color: khaki;
  border: 2px solid;
  border-radius: 20px;
  width: 300px;
  margin: auto;
}
.message.meme {
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding: 5px 20px;
  background-color: khaki;
  border-radius: 20px;
  align-items: flex-start;
  margin-left: 1em;
  margin-right: 1em;
  border: 2px solid;
}
.posted-image {
  max-Width: 60vw;
  max-height: 50vh;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: rebeccapurple;
  border-bottom: 1px solid black;
  color: darkorange;
  border-radius: 0 0 25px 25px;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}
.client-count {
  float: right;
  margin-top: 1.5em;
  margin-right: 3em;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}
